{% extends 'base.html' %}
{% load static %}

{% block title %}tech-blog{% endblock %}


{% block content %}


<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-orange"></i> Biz Haqimizda > <small class="hidden-xs-down hidden-sm-down">"TOMKY developers" mahsuloti </small></h2>
            </div><!-- end col -->                  
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Biz kimmiz</h4>
                            <p>O'zbekistonda IT ni rivoljlantirishga xissa qo'shayotgan kichik startapplardan biri.</p>
           
                            <h4>Qanday yordam berishimiz mumkin</h4>
                            <p>Sizda tayyor biznes bor va uni onlayn tarzda ham o'stirmoqchi bo'lsangiz, biz sizga o'z xizmatlarimizni taklif etamiz.  </p>
     
                            <h4>Biz bilan bog'laning</h4>
                            <p>Har qanday savol va takliflaringizni bizga yo'llashingiz mumkin.</p>
                        </div>
                        <div class="col-lg-7">
                            <form action = "" class="form-wrapper" method = "post">
                                {% csrf_token %} 
                                <input type="text" name = "message-name" class="form-control" placeholder="ismingiz">
                                <input type="email" name = "message-email" class="form-control" placeholder="email manzilingiz">
                                <input type="text" name = "message-number" class="form-control" placeholder="telefon raqamingiz">
                                <textarea name = "message" class="form-control" placeholder="xabar yoki taklifingizni yozing"></textarea>
                                <button type="submit" class="btn btn-primary">Jo'natish <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>


{% endblock content %}