{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load hitcount_tags %}

{% block title %}tech-blog{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
</head>
<body>
    <div id="wrapper">
        <section class="section first-section">
            <div class="container-fluid"
                <div class="masonry-blog clearfix">
                        <div class="first-slot">
                            <div class="masonry-box post-media">
                                <img src="{% static 'upload/bird.jpg' %}" width="788" height="347">  
                                <div class="shadoweffect">
                                    <div class="shadow-desc">
                                        <div class="blog-meta">
                                            <h4><a href="http://127.0.0.1:8000/category/1/" title="">Texnalogiya va Gadjetlar</a></h4>
                                            <small><a href="#" title="">Kategoriyalar</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end shadow-desc -->
                                </div><!-- end shadow -->
                            </div><!-- end post-media -->
                         </div><!-- end first-side -->
                        
                    <div class="second-slot">
                        <div class="masonry-box post-media">
                            <img src="{% static 'upload/bird.jpg' %}" width="394" height="347">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <h4><a href="#" title="">Xarid vaqti</a></h4>
                                        <small><a href="#" title="">E-store</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->

                    <div class="last-slot">
                        <div class="masonry-box post-media">
                            <img src="{% static 'upload/bird.jpg' %}" width="394" height="347">
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <h4><a href="http://127.0.0.1:8000/category/3/" title="">Turfa Olam</a></h4>
                                        <small><a href="#" title="">Kategoriyalar</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->
                </div><!-- end masonry -->
            </div>
        </section>

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="page-wrapper">
                                <div class="blog-top clearfix">
                                    <h4 class="pull-left">Eng so'ngilari<a href="#"><i class="fa fa-rss"></i></a></h4>
                                </div><!-- end blog-top -->

                            {% for post in object_list %}

                                <div class="blog-list clearfix">
                                    <div class="blog-box row">
                                        <div class="col-md-4">
                                            <div class="post-media">
                                                <a href="{% url 'article-detail' post.pk %}">
                                                    <img src="{{ post.header_image.url }}" width="210" height="210">
                                                    <div class="hovereffect"></div>
                                                </a>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4><a href="{% url 'article-detail' post.pk %}" title="">{{post.post_title}}</a></h4>
                                            <p>{{post.snippet}}</p>
                                            <small class="firstsmall"><a class="bg-orange" href="{% url 'category' post.category.id %}">{{post.category}}</a></small>
                                            <small><a href="{% url 'article-detail' post.pk %}">{{ post.post_date }}</a></small>
                                            <!-- <small><a href="tech-author.html" title="">by {{post.post_author}}</a></small> -->
                                        <small><a href="{% url 'article-detail' pk=post.id %}" title=""><i class="fa fa-eye"></i>{% get_hit_count for post %}</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end blog-list -->
                                    
                                    <hr class="invis">

                            {% endfor %}

                            </div><!-- end page-wrapper -->
                            
                            <br/>

                            <div class="row">
                                <div class="col-md-12">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-start">
					                    {% if page_obj.has_previous %}
					                       <li class="page-item"><a class="page-link" href="?page=1">Dastlabki</a></li>
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
					                     {% endif %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                                            </li>
					                    {% if page_obj.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Oxirgi</a>
                                            </li>
					                    {% endif %}
                                        </ul>
                                    </nav>
                                </div><!-- end col -->
                            </div><!-- end row -->                                    
                        </div><!-- end col -->

                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="sidebar">
                                <div class="widget">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="{% static 'upload/bird.jpg' %}" width="300" height="400">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end widget -->
                                
                                <br/>
                                <div class="widget">
                                    <h2 class="widget-title">Eng ko'p ko'rilgan postlar</h2>
                                    <div class="blog-list-widget">
                                        <div class="list-group">
                                            
                                                {% for p in popular_posts %}
                                                        <a href="{% url 'article-detail' p.pk %}"" class="list-group-item list-group-item-action flex-column align-items-start">
                                                            <div class="w-100 justify-content-between">
                                                                <img src="{{ p.header_image.url }}" alt="" class="img-fluid float-left">
                                                                <h5 class="mb-1">{{p.post_title}}</h5>
                                                                <small>{{ p.post_date }}</small>
                                                            </div>
                                                        </a>
                                                {% endfor %}
                                           
                                        </div>
                                    </div><!-- end blog-list -->
                                </div><!-- end widget -->

                                <div class="widget">
                                    <h2 class="widget-title">Follow Us</h2>

                                    <div class="row text-center">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <a href="#" class="social-button twitter-button">
                                                <i class="fa fa-telegram"></i>
                                                <p>98k</p>
                                            </a>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                            <a href="#" class="social-button youtube-button">
                                                <i class="fa fa-youtube"></i>
                                                <p>22k</p>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- end widget -->

                                <div class="widget">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="{% static 'upload/bird.jpg' %}" width="500" height="300">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end widget -->

                                <p>This is my blog. I've written {% total_posts %} posts so far.</p>






                            </div><!-- end sidebar -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>  
     
    </div><!-- end wrapper -->
</body>
</html>

{% endblock content %}