{% extends 'base.html' %}

{% block content %}

<h1>Login...</h1>
<br/><br/>
<div class="form-group">
<form method="POST">
	{% csrf_token %}	
<div class="mb-3">
    <input type="text" class="form-control" name = "username" placeholder = "Username">
</div>
<div class="mb-3">
    <input type="password" class="form-control" name ="password" placeholder = "Password">
</div>	
<br/>
	<button class="btn btn-primary">Login</button>
</div>
<br/><br/><br/><br/>
<h5> Not Registered? Sign Up <a  href="{% url 'register' %}">Here...</a> </h5>


<br/><br/><br/><br/><br/>
{% endblock %} 