{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<link href="{% static 'css/ok.css' %}" rel="stylesheet">
</head>


<div id = "edit">
	{% if user.is_authenticated %}
		{% if user.id == profile.user.id %}
			<br/><br/><br/>
			<h1>Profil sozlamalari</h1>
			<br/>

			<div class="form-group">
				<form method="POST" enctype = "multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-primary">O'zgarishlarni saqlang</button>
				</form>
			</div>
		{% else %}
			Siz bu profilning egasi emassiz.
		{% endif %}
		
	{% else %}
		
		Login qilishingiz kerak.
		
	{% endif %}

</div>

{% endblock %} 	