{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <link href="{% static 'css/ok.css' %}" rel="stylesheet">
</head>

<body>
<div class = "all">

    <h1 class = "a1">Foydalanuvchi kabineti</h1>
    <br/>

    <h3 >Username: {{page_user.user.username}}</h3>
    <br/><br/>
      

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          {% if page_user.profile_pic %}	
            <img src="{{ page_user.profile_pic.url }}" width="180" height="200" class = "card-img" >
          {% else %}
            <img src="{% static 'images/df.png' %}" width="180" height="200" class = "card-img" >
          {% endif %}	  
        </div> 
          <div class="col-md-10">
            <div class="card-body col-sm-10">
              <h2 class="card-title">
                {{ page_user.user.last_name }} {{ page_user.user.first_name }}       
              </h2>

              <p class = "small text-muted">
                {% if page_user.telegram_url %}
                  <a href="{{ page_user.telegram_url}}"> Telegram </a>
                {% endif %}
              </p>
              <p class="card-text"> 
                {{ page_user.bio }}
              </p>
            </div>
          </div>
      </div>
    </div>  
    <br/> 

      {% if page_user.user.profile.id == user.profile.id %}
      <p>
        <a href="{% url 'logout' %}"> Logout </a>
      </p> 

      
        <a href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page   <i style="font-size:24px" class="fa">&#xf040;</i> </a>
      
      <br/>
      <p>
        <a href="{% url 'edit_profile' user.profile.id %}"> Edit Profile     <i style="font-size:24px" class="fa">&#xf040;</i> </a> 
      </p>
      {% endif %}

</div>
{% endblock %}	

</body>