{% extends 'base.html' %}
{% load static %}

{% block title %}tech-blog{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
</head>
<body>
    <div id="wrapper">
        <br/><br/><br/><br/>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="page-wrapper">
                <div class="blog-top clearfix">
                {% for post in category_posts %}
                    {% if forloop.first %}
                        <h4 class="pull-left">{{ post.category }}<a href="#"><i class="fa fa-rss"></i></a></h4>
                    {% endif %}
                {% endfor %}
                </div><!-- end blog-top -->

                            {% for post in category_posts %}
                                <div class="blog-list clearfix">
                                    <div class="blog-box row">
                                        <div class="col-md-4">
                                            <div class="post-media">
                                                <a href="{% url 'article-detail' post.pk %}">
                                                    <img src="{{ post.header_image.url }}" width="210" height="210">
                                                    <div class="hovereffect"></div>
                                                </a>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4><a href="{% url 'article-detail' post.pk %}" title="">{{post.post_title}}</a></h4>
                                            <p>{{post.snippet}}</p>
                                            <small class="firstsmall"><a class="bg-orange" href="{% url 'category' post.category.id %}">{{post.category}}</a></small>
                                            <small><a href="{% url 'article-detail' post.pk %}">{{ post.post_date }}</a></small>
                                            <!-- <small><a href="tech-author.html" title="">by {{post.post_author}}</a></small> -->
                                            <small><a href="{% url 'article-detail' post.pk %}" title=""><i class="fa fa-eye"></i> 1114</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end blog-list -->
                                    
                                    <hr class="invis">

                            {% endfor %}
                        </div><!-- end page-wrapper -->
                            
                        <br/>

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->


    
    </div><!-- end wrapper -->
</body>
</html>

{% endblock content %}